n8n/workflows/03-email-inbox.json
{
  "name": "Altopi Carbon — 03 Email Auto-Import",
  "nodes": [
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "mailbox": "INBOX",
        "options": {
          "allowUnauthorizedCerts": false,
          "customEmailConfig": "",
          "downloadAttachments": true,
          "dataPropertyAttachmentsPrefixName": "attachment_"
        }
      },
      "id": "email-trigger",
      "name": "📧 Email Reçu (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [240, 300],
      "credentials": { "imap": { "id": "IMAP_CRED_ID", "name": "IMAP Account" } }
    },
    {
      "parameters": {
        "jsCode": "// Filtre: ignorer emails sans pièce jointe\nconst item = $input.first().json;\nconst hasAttachment = item.attachments && item.attachments.length > 0;\nconst isAutoReply = (item.subject || '').toLowerCase().includes('auto-reply');\n\nif (!hasAttachment || isAutoReply) return [];\n\nreturn [{ json: {\n  from: item.from,\n  subject: item.subject,\n  attachments: item.attachments,\n  text: item.text || '',\n  date: item.date,\n} }];"
      },
      "id": "filter-email",
      "name": "🔍 Filtrer emails valides",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Trouver l'utilisateur Supabase par email expéditeur\nreturn $input.all();"
      },
      "id": "find-user",
      "name": "👤 Identifier utilisateur",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/profiles?email=eq.{{ encodeURIComponent($json.from.split('<')[1]?.replace('>','') || $json.from) }}&select=id,email,full_name",
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        }
      },
      "id": "get-user-supabase",
      "name": "🔎 Chercher utilisateur Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/emission_posts?select=id,name,scope,order_index,category&order=order_index",
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}" }
          ]
        }
      },
      "id": "get-posts",
      "name": "📋 Get Emission Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const email = $('🔍 Filtrer emails valides').first().json;\nconst posts = $('📋 Get Emission Posts').first().json;\n\nconst postList = posts.map(p =>\n  `• [${p.id}] P${p.order_index} – ${p.name} (Scope ${p.scope})${p.category ? ' / ' + p.category : ''}`\n).join('\\n');\n\n// Utiliser le texte de l'email + sujet comme contenu\nconst content = `Sujet: ${email.subject}\\n\\n${email.text}`.slice(0, 8000);\n\nconst prompt = `Tu es un expert en comptabilité carbone BC2025/ADEME.\\n\\nAnalyse ce message email et extrait les données d'activité carbone.\\n\\nPostes disponibles:\\n${postList}\\n\\nRéponds UNIQUEMENT avec ce JSON:\\n{\"entries\":[{\"post_id\":\"UUID\",\"description\":\"desc\",\"quantity\":0.0,\"unit\":\"kWh\",\"co2e_kgCO2e\":null,\"factor_hint\":\"factor\"}]}`;\n\nreturn [{ json: { prompt, content, posts, email } }];"
      },
      "id": "build-prompt-email",
      "name": "🧠 Construire prompt email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "url": "https://api.mistral.ai/v1/chat/completions",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.MISTRAL_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-large-latest\",\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt + \"\\n\\nContenu:\\n---\\n\" + $json.content + \"\\n---\") }}}]\n}"
      },
      "id": "mistral-call",
      "name": "🤖 Appel Mistral AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.choices?.[0]?.message?.content ?? '';\nconst posts = $('📋 Get Emission Posts').first().json;\nconst userInfo = $('🔎 Chercher utilisateur Supabase').first().json?.[0];\n\nconst match = raw.match(/\\{[\\s\\S]*\\}/);\nlet parsed = { entries: [] };\ntry { parsed = JSON.parse(match?.[0] ?? '{\"entries\":[]}'); } catch {}\n\nconst validIds = new Set(posts.map(p => p.id));\nconst postMap = Object.fromEntries(posts.map(p => [p.id, p]));\n\nconst entries = (parsed.entries ?? [])\n  .filter(e => validIds.has(e.post_id) && e.quantity > 0)\n  .map(e => ({\n    post_id: e.post_id,\n    post_name: postMap[e.post_id]?.name ?? '',\n    description: e.description,\n    quantity: e.quantity,\n    unit: e.unit,\n    co2e_kgCO2e: e.co2e_kgCO2e,\n    factor_hint: e.factor_hint,\n  }));\n\nreturn [{ json: { entries, userInfo, totalEntries: entries.length } }];"
      },
      "id": "parse-response",
      "name": "✅ Parser réponse IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "jsCode": "// Préparer les insertions Supabase\nconst { entries, userInfo } = $input.first().json;\n\nif (!entries.length || !userInfo?.id) return [];\n\n// Format pour insertion Supabase (study_id sera récupéré séparément)\nreturn entries.map(e => ({ json: {\n  emission_post_id: e.post_id,\n  description: `[Email auto-import] ${e.description}`,\n  quantity: e.quantity,\n  unit: e.unit,\n  co2e_calculated: e.co2e_kgCO2e,\n  contributor_id: userInfo.id,\n  status: 'pending_review',\n  source: 'n8n_email',\n} }));"
      },
      "id": "prepare-insert",
      "name": "📝 Préparer insertion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "fromEmail": "bilan@altopi.eco",
        "toEmail": "={{ $('🔍 Filtrer emails valides').first().json.from }}",
        "subject": "✅ {{ $('✅ Parser réponse IA').first().json.totalEntries }} données importées dans votre bilan carbone",
        "emailFormat": "html",
        "message": "=<div style=\"font-family: sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background: #1a1a2e; padding: 20px; border-radius: 12px; margin-bottom: 20px;\">\n    <h1 style=\"color: #4ade80; margin: 0; font-size: 24px;\">✅ Import automatique réussi</h1>\n  </div>\n  \n  <p style=\"color: #374151;\">Bonjour,</p>\n  <p style=\"color: #374151;\">Nous avons analysé votre email et importé <strong>{{ $('✅ Parser réponse IA').first().json.totalEntries }} entrée(s)</strong> dans votre bilan carbone.</p>\n  \n  <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0;\">\n    <tr style=\"background: #f3f4f6;\">\n      <th style=\"padding: 10px; text-align: left; font-size: 12px; color: #6b7280;\">POSTE</th>\n      <th style=\"padding: 10px; text-align: right; font-size: 12px; color: #6b7280;\">QUANTITÉ</th>\n      <th style=\"padding: 10px; text-align: right; font-size: 12px; color: #6b7280;\">STATUT</th>\n    </tr>\n    {{ $('✅ Parser réponse IA').first().json.entries.map(e => `<tr style=\"border-bottom: 1px solid #e5e7eb;\"><td style=\"padding: 10px; font-size: 13px;\">${e.post_name}</td><td style=\"padding: 10px; text-align: right; font-size: 13px;\">${e.quantity} ${e.unit}</td><td style=\"padding: 10px; text-align: right;\"><span style=\"background: #fef3c7; color: #92400e; padding: 2px 8px; border-radius: 9999px; font-size: 11px;\">À valider</span></td></tr>`).join('') }}\n  </table>\n  \n  <p style=\"color: #6b7280; font-size: 13px;\">Ces données sont en attente de validation. Connectez-vous pour les approuver.</p>\n  \n  <a href=\"{{ $env.APP_URL }}/validation\" style=\"display: inline-block; background: #4f46e5; color: white; padding: 12px 24px; border-radius: 8px; text-decoration: none; font-weight: bold; margin-top: 10px;\">Valider les données →</a>\n  \n  <p style=\"color: #9ca3af; font-size: 11px; margin-top: 30px;\">Altopi Carbon · Bilan Carbone BC2025</p>\n</div>"
      },
      "id": "send-confirmation",
      "name": "📨 Email de confirmation",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2220, 300],
      "credentials": { "smtp": { "id": "SMTP_CRED_ID", "name": "SMTP Account" } }
    }
  ],
  "connections": {
    "📧 Email Reçu (IMAP)": { "main": [[{ "node": "🔍 Filtrer emails valides", "type": "main", "index": 0 }]] },
    "🔍 Filtrer emails valides": { "main": [[{ "node": "👤 Identifier utilisateur", "type": "main", "index": 0 }]] },
    "👤 Identifier utilisateur": { "main": [[{ "node": "🔎 Chercher utilisateur Supabase", "type": "main", "index": 0 }]] },
    "🔎 Chercher utilisateur Supabase": { "main": [[{ "node": "📋 Get Emission Posts", "type": "main", "index": 0 }]] },
    "📋 Get Emission Posts": { "main": [[{ "node": "🧠 Construire prompt email", "type": "main", "index": 0 }]] },
    "🧠 Construire prompt email": { "main": [[{ "node": "🤖 Appel Mistral AI", "type": "main", "index": 0 }]] },
    "🤖 Appel Mistral AI": { "main": [[{ "node": "✅ Parser réponse IA", "type": "main", "index": 0 }]] },
    "✅ Parser réponse IA": { "main": [[{ "node": "📝 Préparer insertion", "type": "main", "index": 0 }]] },
    "📝 Préparer insertion": { "main": [[{ "node": "📨 Email de confirmation", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
